.playlistTitle {
  margin: 1rem auto;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  outline: none;
  border-radius: 16px;

  width: 90%;
  // max-width: 30rem;
  text-align: center;
  font-size: 1rem;
  background-color: rgb(224, 224, 224, .5);
  img {
    width: 18%;
    display: block;
    margin: 2rem auto;
  }
  p{
    align-self: center;
    margin: 0 1rem 1rem;
    text-align: center;
    width: 80%;
    span {
      color: #005A9C;
      font-weight: bold;
    }
  }
  input {
    color: rgb(0, 0, 0);
    border: none;
    border-bottom: 1.5px solid #BABABA;
    outline: none;
    margin: 0 auto;
    padding: .5rem;
    width: 90%;
    max-width: 30rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    display: block;
    background-color: inherit;
  }
  button {
    display: block;
    margin: 1rem auto;
    padding: 0.8rem;
    background-color: #1DB954;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    transition-duration: 0.4s;
  }
  button:hover {
    opacity: 80%;
  }
}