.trackAvailability {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
	text-align: center;
	margin: 2rem auto 0;
	border: 1px solid black;
	border-radius: 0.5rem;

	h3 {
		font-weight: 600;
		margin-top: 0.5rem;
	}

	:nth-child(2) {
		font-style: italic;
		margin: 0.5rem;
	}

	:last-child span {
		font-weight: 700;
		color: black;
	}
}
