.trackContainer {
	width: 90%;
	display: grid;
	padding: 0.5rem 0.5rem 0;
	margin: 0 auto;
	grid-template-columns: minmax(0, 7fr) minmax(0, 2fr);
}

.exclude {
	opacity: 45%;
}

.buttonContainer {
	width: 100%;
	background-color: inherit;
	font: inherit;
	padding-bottom: 0.5rem;
	display: grid;
	grid-template-columns: minmax(0, 1fr) repeat(2, minmax(0, 3fr));
	overflow: hidden;
	align-items: center;
	border: none;
	border-bottom: 1.5px solid #bababa;
	text-align: left;
}

.previewButton {
	width: 100%;
	height: 100%;
	font: inherit;
	background-color: inherit;
	border: none;
	border-bottom: 1.5px solid #bababa;
}

.titleAndArtist {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
