.trackContainer {
  width: 90%;
  background-color: inherit;
  font: inherit;
  padding: .5rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(0, 1fr) repeat(2, minmax(0, 3fr)) minmax(0, 2fr);
  overflow: hidden;
  align-items: center;
  border: none;
  border-bottom: 1.5px solid #BABABA;
  text-align: left;

  :nth-child(4) {
    width: 90%;
    align-self: center;
  }
}

.titleAndArtist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
