// Font family for navbar Playd.io logo
// font-family: 'Edu TAS Beginner', cursive;

footer {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
	background-color: #005a9c;
}
