// Font family for navbar Playd.io logo
// font-family: 'Edu TAS Beginner', cursive;

nav {
	background-color: #005a9c;
	min-height: 3.5rem;
	img {
		width: 20%;
		min-width: 10rem;
		min-height: 3.5rem;
		margin: 0 auto;
		padding: 1rem;
		display: block;
	}
}
